body {
  padding-bottom: 100px;
}

section, article {
  display: block;
}

code {
  color: #000;
}

pre {
  white-space: pre;
  width: inherit;
}

.center {
  text-align: center !important;
}

.justify {
  text-align: justify !important;
}

.uppercase {
  text-transform: uppercase;
}

nav {
  color: #333;
  background-color: #EEE;
  font-size: small;
}
nav a {
  color: #4169E1;
  text-decoration: none;
}
nav a:hover {
  color: red;
}
nav a[href="#"] {
  color: gray;
}
nav span {
  background-color: #616161 !important;
}

#navigation {
  padding: 0px 10px;
}

#menu .logo {
  margin: auto;
  height: 44px;
  color: #FFF;
  background-color: #4169E1;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;
}
#menu .logo a {
  text-decoration: none;
}
#menu nav {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
#menu div {
  margin: 0px;
  padding: 0px;
  background-color: #EEE;
}
#menu div p {
  margin: 0px;
  padding: 0px;
  color: #333;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

main {
  display: block;
  margin: 2px;
  padding: 2px;
}

.index {
  margin-bottom: 6px;
}
.index h1 {
  margin: 0px;
  padding: 0px;
}
.index h1 a {
  margin: 0px;
  padding: 0px;
  color: #4169E1;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.index p {
  margin: 0px;
  padding: 0px;
  font-size: medium;
  text-align: justify;
}

.posts {
  margin: 2px;
}
.posts .date-and-tags {
  text-indent: 0px;
  text-align: left;
  font-size: small;
}
.posts h1 {
  color: #4169E1;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
.posts h2 {
  color: #4169E1;
  text-transform: uppercase;
  font-size: large;
}
.posts h3 {
  color: #4169E1;
  text-transform: capitalize;
  font-size: large;
}
.posts aside {
  display: block;
}
.posts aside h1 {
  color: #333;
}
.posts p {
  color: 333;
  text-indent: 20px;
  text-align: justify;
}
.posts .figure {
  display: block;
  margin: 0px auto;
  text-align: center;
}
.posts .figure p {
  text-align: center;
  text-indent: 0px;
  font-size: x-small;
  font-style: italic;
}
.posts li {
  text-align: justify;
  text-indent: 0px;
}
.posts li a {
  color: blue;
}
.posts dl {
  font-size: small;
}
.posts dl a {
  color: #2E5ADC;
  text-transform: uppercase;
  text-decoration: none;
}
.posts dl a:hover {
  color: #6788E9;
}
.posts dl img {
  display: inline;
  vertical-align: middle;
}
.posts dl dd {
  font-style: italic;
}
.posts .textbox {
  padding: 20px;
  color: #666;
  background: #EEE;
  text-indent: 0px;
}
.posts .textbox ::first-line {
  color: #333;
  font-weight: bold;
}
.posts pre {
  display: inline-block;
  color: #666;
  background-color: #EEE;
}
.posts footer {
  text-align: center;
}

body > footer {
  display: block;
  position: fixed;
  margin-top: 2px;
  padding: 2px;
  height: 80px;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #666;
  background-color: #D6D8DD;
  border-top: 5px solid #A5A8B0;
  text-align: center;
  font-size: x-small;
  z-index: 999;
}
body > footer hr {
  margin: 0px auto;
  height: 1px;
  width: 66%;
  border-color: #90939D;
}
body > footer img {
  margin: 2px auto;
  padding: 0px;
}
