/* CSS - Cascading Style Sheet */

/* Estilos do Tema */
/* Cor base: RoyalBlue -	#4169E1 */
/* Palette URL: http://paletton.com/#uid=13O0u0kpDPqk6SumVQZstNFvGLC */
.color-primary-0 { color: #4169E1 }
.color-primary-1 { color: #8FA7F0 }
.color-primary-2 { color: #6485E8 }
.color-primary-3 { color: #1D4CD8 }
.color-primary-4 { color: #0C36B3 }

/* Palette URL: http://paletton.com/#uid=13O0u0k18O17rzm4NFO2nx-35tf */
.color-neutral-0 { color: #D6D8DD }
.color-neutral-1 { color: #9099B5 }
.color-neutral-2 { color: #AEB4C8 }
.color-neutral-3 { color: #A5A8B0 }
.color-neutral-4 { color: #90939D }

.w3-theme-l5 {color:#000 !important; background-color:#F4F6FD !important}
.w3-theme-l4 {color:#000 !important; background-color:#D9E1F9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#B3C3F3 !important}
.w3-theme-l2 {color:#000 !important; background-color:#8DA5ED !important}
.w3-theme-l1 {color:#fff !important; background-color:#6787E7 !important}
.w3-theme-d1 {color:#fff !important; background-color:#2855DD !important}
.w3-theme-d2 {color:#fff !important; background-color:#1F4AC9 !important}
.w3-theme-d3 {color:#fff !important; background-color:#1B41B0 !important}
.w3-theme-d4 {color:#fff !important; background-color:#183797 !important}
.w3-theme-d5 {color:#fff !important; background-color:#142E7E !important}

.w3-theme-light {color:#000 !important; background-color:#F4F6FD !important}
.w3-theme-dark {color:#fff !important; background-color:#142E7E !important}
.w3-theme-action {color:#fff !important; background-color:#142E7E !important}

.w3-theme {color:#fff !important; background-color:#4169E1 !important}
.w3-text-theme {color:#4169E1 !important}
.w3-theme-border {border-color:#4169E1 !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#4169E1 !important}

/* Estilos Estruturais */
body { padding-bottom: 80px; }

nav {
    padding: 4px;
    color: #333;
    background-color: #D6D8DD;
    font-size: small;
}
nav a {
    margin: 0px 4px;
    color: #4169E1;
    text-decoration: none;
}
nav a:hover { color: red; }
nav a[href="#"] { color: gray; }

.topo-faixa {
    margin: auto;
    padding: 0;
    height: 44px;
    color: #fff;
    background-image: url("../images/topo-faixa.png");
    background-repeat: no-repeat;
    background-color: #4169E1;
    font-weight: bold;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
}

.navegacao {
    margin: 15px 0px 5px 0px;
    text-align: center;
}

.conteudo {
    margin: 0px 12px;
}

.faixa-aviso {
    margin: 2px 0;
    background-color: #1A4AD7;
    color: #6788E9;
    text-align: center;
    font-weight: bold;
}

footer {
    display: block;
    position: fixed;
    margin-top: 2px;
    padding: 2px;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #333;
    background-color: #D6D8DD;
    border-top: 5px solid #4169E1;
    text-align: center;
    font-size: x-small;
}
footer hr {
    margin: 6px auto;
    height: 1px;
    width: 66%;
    border-color: #6788E9;
}

.cartoes {
    margin: 10px 6px;
    padding: 0px;
    border: 1px solid #AEB4C8;
    box-shadow: 2px 2px 10px #90939D;
}
.cartoes h2 {
    margin: 6px;
    padding: 0px;
    color: white;
    background-color: #4169E1;
    border: 1px solid #1A49D7;
    text-align: center;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
}
.cartoes p {
    margin: 10px;
    color: #333;
    text-align: justify;
    font-size: small;
}
.cartoes dl {
    margin: 10px;
    color: #333;
    text-align: justify;
    font-size: small;
}
.cartoes img {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.center { text-align: center !important; }
.justify { text-align: justify !important; }
.text-uppercase { text-transform: uppercase; }

/* Estilos do Texto */
h1 {
    color: #4169E1;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    color: #4169E1;
    font-size: large;
    text-transform: uppercase;
}

p { text-align: justify; }

.figura {
    display: block;
    margin: 0px auto;
    text-align: center;
}

.legenda{
    text-align: center;
    font-size: x-small;
    font-style: italic;
}

dl { font-size: small; }
dl a {
    color: #1D4CD8;
    text-transform: uppercase;
    text-decoration: none;
}
dl a:hover { color: #8FA7F0; }
dd { font-style: italic; }

/* Compatibilidade com HTML5 */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
