/* CSS - Cascading Style Sheet */

/* Estilos do Tema */
/* RoyalBlue -	#4169E1 */
.w3-theme-l5 {color:#000 !important; background-color:#f4f6fd !important}
.w3-theme-l4 {color:#000 !important; background-color:#d9e1f9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#b3c3f3 !important}
.w3-theme-l2 {color:#000 !important; background-color:#8da5ed !important}
.w3-theme-l1 {color:#fff !important; background-color:#6787e7 !important}
.w3-theme-d1 {color:#fff !important; background-color:#2855dd !important}
.w3-theme-d2 {color:#fff !important; background-color:#1f4ac9 !important}
.w3-theme-d3 {color:#fff !important; background-color:#1b41b0 !important}
.w3-theme-d4 {color:#fff !important; background-color:#183797 !important}
.w3-theme-d5 {color:#fff !important; background-color:#142e7e !important}

.w3-theme-light {color:#000 !important; background-color:#f4f6fd !important}
.w3-theme-dark {color:#fff !important; background-color:#142e7e !important}
.w3-theme-action {color:#fff !important; background-color:#142e7e !important}

.w3-theme {color:#fff !important; background-color:#4169e1 !important}
.w3-text-theme {color:#4169e1 !important}
.w3-theme-border {border-color:#4169e1 !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#4169e1 !important}

/* Estilos Gerais */
.titulo {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: #296192;
}
.texto {
    text-align: justify;
}
.borda-destaque {
    color: #fff;
    background-color: #142e7e;
    border: 1px solid : #4169e1;
    text-align: center;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
}

/* Outros */
.text-uppercase { text-transform: uppercase; }

.footer { text-align: center; }

#lista-sites dl { font-size: small; }
#lista-sites strong {
    text-transform: uppercase;
    color: #296192;
}
#lista-sites a {
    text-transform: uppercase;
    text-decoration: none;
    color: #2e6ea5;
}
#lista-sites a:hover { color: #337ab7; }
#lista-sites dd { font-style: italic; }
