//
// MDS - SCSS Template
//
// Template dos estilos da página (CSS - Cascading Style Sheet).
//
// autor: Marcelo dos Santos
//

// Paleta
// Base: RoyalBlue -	#4169E1
// URL: http://paletton.com/#uid=13O0u0kpDPqk6SumVQZstNFvGLC
#$primary-color-1: #4169E1;
#$primary-color-2: #6788E9;
#$primary-color-3: #5378E5;
#$primary-color-4: #2E5ADC;
#$primary-color-5: #1A4AD7;
// Auxiliar: Greyish lightest
// URL: http://paletton.com/#uid=13O0u0k18O17rzm4NFO2nx-35tf
$auxiliary-color1: #D6D8DD;
$auxiliary-color2: #9099B5;
$auxiliary-color3: #AEB4C8;
$auxiliary-color4: #A5A8B0;
$auxiliary-color5: #90939D;
